<template name ="home">

	<div class="container-fluid">
		<div class="featureitem col-xs-10">Today's Featured Item
			<img src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/item/3031.png" />
		</div>
		
		
		<h4 class="page-header col-xs-10">Who builds it?</h4>
		<div class="homechamp col-xs-3">

			<ol>
				<li><img src="//ddragon.leagueoflegends.com/cdn/5.15.1/img/champion/Azir.png" class="middle"></li>
				<li>Usage:50%</li>
				<li>Winrate:50%</li>
				<li>Most Common Partner</li>
				<li>Highest winrate Partner</li>
			</ol>
		</div>
	
		<div class="homechamp col-xs-3">
			<ol>
				<li><img src="//ddragon.leagueoflegends.com/cdn/5.15.1/img/champion/Azir.png" class="middle"></li>
				<li>Usage:50%</li>
				<li>Winrate:50%</li>
				<li>Most Common Combo</li>
				<li>Highest Winrate Combo</li>
			</ol>
		</div>
	
		<div class="homechamp col-xs-3">
			<ol>
				<li><img src="//ddragon.leagueoflegends.com/cdn/5.15.1/img/champion/Azir.png" class="middle"></li>
				<li>Usage:50%</li>
				<li>Winrate:50%</li>
				<li>Most Common Partner</li>
				<li>Highest winrate Partner</li>
			</ol>
		</div>


	</div>


</template>