<template name ="home">

	

	<div class="featureitem col-lg-12">Today's Feature Item   <img 
		src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/item/3031.png" />
	</div>

	<h4>Champions With the Highest Winrate Using This Item</h4>
	<div class="container">
	<div class="homechamp col-lg-4">
		<ol>
			<li><img src="//ddragon.leagueoflegends.com/cdn/5.15.1/img/champion/Azir.png" class="middle"></li>
			<li>Usage:50%</li>
			<li>Winrate:50%</li>
			<li>Most Common Partner</li>
			<li>Highest winrate Partner</li>
		
		</ol>

	</div>

	<div class="homechamp col-lg-4">
		<ol>
			<li><img src="//ddragon.leagueoflegends.com/cdn/5.15.1/img/champion/Azir.png" class="middle"></li>
			<li>Usage:50%</li>
			<li>Winrate:50%</li>
			<li>Most Common Combo</li>
			<li>Highest Winrate Combo</li>
		
		</ol>

	</div>

	<div class="homechamp col-lg-4">
		<ol>
			<li><img src="//ddragon.leagueoflegends.com/cdn/5.15.1/img/champion/Azir.png" class="middle"></li>
			<li>Usage:50%</li>
			<li>Winrate:50%</li>
			<li>Most Common Partner <img src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/item/3046.png" style="height:50px;"></li>
			<li>Highest winrate Partner</li>
		
		</ol>

	</div>
</div>


</template>