<template name= "_header">
  <nav class="navbar navbar-default header" >
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="logo" href="#">League of Items<img src=""></span>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
   
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav fancynav">
        <li><a id="" href="#">Home</a></li>
        <li><a id="" href="#">Items</a></li>        
        <li><a id="" href="#">Champion</a></li>
        <li><a id="" href="{{ pathFor 'Customize' }}">Customize</a></li>
       
      </ul>
    </div><!-- /.navbar -->
    
  </div><!-- /.container-fluid -->
</nav>
</template>