<template name="customize">
	select a champion
	select items sets
	<select id="champions">
		<option value="default">--select--</option>
		{{#each champions}}
			<option value={{this.id}}>{{this.name}}</option>
		{{/each}}
	</select>
	
	<div style="display: table-cell; vertical-align: middle; width: 440px;">
       <div class="itembox"> slot1</div>
        <div class="itembox">
                            slot2
                        </div>
           <div class="itembox">
                            slot3
                        </div>
                 <div class="itembox">
                            slot4
                        </div>
                                 
                 <div class="itembox">
                            slot5
                        </div>
                                  
                 <div class="itembox">
                            slot6
                        </div>
                        </div>


</template>